@media screen and (max-width: 745px) {
    body {
        // for extra spaces hidden in x-axes
        overflow-x: hidden !important;
    }

    .We_create_stunning_design {
        p {
            top: 150.687px;
        }
    }
    ._Lorem_ipsum_dolor_sit_amet__consectetuer_adipi {
        top: 240.687px;
    }

    .div {
        top: 220px;
    }
    .Abgerundetes_Rechteck_2 {
        top: 320px;
    }
    .mouse_cursor {
        left: 350px;
        top: 380px;
    }
}
// ....... //
